Cueaderno con los desafios del primer video del curo aprendiendo python para ciencia de datos

1 - Imprime la frase "Escuela de Datos de Alura".

In [1]:
print('Escuela de datos alura')

Escuela de datos alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

    Nombre: [tu nombre]
    Apellido: [tu apellido]

In [ ]:
nombre = 'Oscar'
apellido = 'Silvera'
print('Nombre:', nombre)
print('Apellido:', apellido)

Nombre: Oscar
Apellido: Silvera

3 - Imprime tu primer nombre letra por letra, no se requieren la viñetas. Por ejemplo, si mi nombre es Álvaro, la salida sería:

 - Á
 - L
 - V
 - A
 - R
 - O

In [7]:
print('O')
print('s')
print('c')
print('a')
print('r')

O
s
c
a
r

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente: 28 febrero 2003

In [4]:
dia = 4
mes = "Julio"
año = 1982

print('Fecha de nacimiento:', dia, mes, año)

Fecha de nacimiento: 4 Julio 1982

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente: Año actual: [año]

In [6]:
añoActual = 2025
print('Curso realizado en:', añoActual)

Curso realizado en: 2025